body {
	background: #efefef;
	font-family: arial;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
}



h1{
	font-size: 70px;
    text-align: center;
    border-style: solid;
    border-width: 2.5px;
    background: #0E6655;
    color : white;
    height : 90px;
    font-weight: bold;
}

h2{
    font-size: 16px;
}

h3{
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-width: 2.5px;
    background: #922B21;
    color : white;
    height : 40px;
    font-weight: bold;
}


h4
{
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-width: 2.5px;
    background: #0E6655;
    color : white;
    height: 40px;
    font-weight: bold;
}

img{
    width:100%;
    max-width:400px;
    border-style: solid;
}



/*This  code is for my button centering mechanic */
ul {
        list-style-type: none;
        padding: 0;
        overflow:hidden;
    }

a:link, a:visited {
    background-color: #28B463  ;
    color: white;
    padding: 12px 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: #1E8449 ;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*This  code is for my button centering mechanic */
li {
    display:inline-block;
    
}
#menu {
    text-align:center;

}



p{
	font-size: 14px;
}

@media screen and (max-width: 750px){

    h1{
        height: 45px;
        font-size: 35px;
    }

    h3{
        height:28px;
        font-size: 21px;
    }

    h4{
        height: 15px;
        font-size: 12px;
        text-align: center;
    }


    a:link, a:visited
    {
        color: white;
    padding: 3px 4.5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    }
    h2{
        font-size: 14px;
    }

    img{
    width:100%;
    max-width:350px;
    border-style: solid;
}





   


}

@media screen and (max-width: 310px){

    h1{
        height: 22.5px;
        font-size: 17.5px;
    }
    h3{
        height:20px;
        font-size: 15px;
    }

    a:link, a:visited
    {
        color: white;
    padding: 1.5px 2.25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    h2{
        font-size: 12px;
    }

    img{
    width:100%;
    max-width:280px;
    border-style: solid;
}

}